.tools {
  background-color: #faf9f7;
  text-align: -webkit-center;
  margin-top: 15px;
}

.mood-board-container {
  position: relative;
}

.mood-board-container .mood-board-icons {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.mood-board-boundary {
  height: 75vh;
  overflow: auto;
}

.mood-board-boundary .mood-board {
  height: 800px;
  width: 1400px;
  transform-origin: 0 0;
  background-color: white;
}

.mood-headers {
  font-family: "Rock Salt", cursive;
  text-align: -webkit-center;
}

p {
  font-family: Roboto, sans-serif;
  color: #ba6f4d;
}

.fa-trash {
  background-color: #faf9f7;
}

.fa-plus-circle {
  color: #ba6f4d;
}

.button-styles {
  background-color: #a2a182;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.moodboard-section {
  font-family: "Rock Salt", cursive;
  background-color: #faf9f7;
  margin-top: 15px;
}
